{% extends "/base.html.twig" %}
{% block body %}
    <h1 class="display-4">Bienvenue sur Recipe App !</h1>
        <p class="lead">Tu ne sais pas quoi faire ce soir ? Laisse toi faire le Recipe Chef est là pour toi !</p>
        <hr class="my-4">
        <p>Intéressé(e) ? Inscris toi !</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Inscription</a>
        </p>
    </div>
{% endblock %}
